HeavyClient/WindowsFormsApp1/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/host/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/host/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param1" type="xs:float" />
        <xs:element minOccurs="0" name="param2" type="xs:float" />
        <xs:element minOccurs="0" name="param3" type="xs:float" />
        <xs:element minOccurs="0" name="param4" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWithBikes" minOccurs="0" name="GetItineraryResult" nillable="true" type="q1:ArrayOfJsonOpenRouteService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatsResult" nillable="true" type="q2:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>